@media only screen and (max-width: 768px){
    .flip4{
        display: none !important;
    }

    div .flipper{
        width: 25% !important;
    }

    .cardBack div p {
        display: none !important;
    }

    .cardBack div h2 {
        margin-left: 5%;
        margin-right: 5%;
        color: black;
        background-color: white;
        opacity: 90%;
        font-size: 10px !important;
        font-style: oblique;
    }

    #firstApperance{
        display: none !important;
     }

}

@media only screen and (max-width: 361px){
    .flip4{
        display: none !important;
    }
    .flip3{
        display: none !important;
    }
    div .flipper{
        width: 33.33% !important;
    }
    .cardBack div h2 {
        margin-left: 5%;
        margin-right: 5%;
        color: black;
        background-color: white;
        opacity: 90%;
        font-size: 10px !important;
        font-style: oblique;
    }

    #firstApperance{
        display: none !important;
     }

     input#characterName {
        width: 50%;
    }

    input.findCharacter {
        width: 50% !important;
    }

    .basicInfo{
        display: none !important;   
    }

}

.cardBack div{
    width: 300px;
    height: 461.111px;
}

#characterPic img{
    display: flex;
    height: 461.111px;
}

section{
    width: 100%;
}

.nullSearch{
    width: 100%;

}

.basicInfo{
    display: flex;
    flex-direction: row;
}

#profile{
    display: flex;  
    flex-direction: column;
}

#firstApperance{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .flipSide{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    filter: drop-shadow(2px 4px 6px black);
  }

  .cardFront{
  }

  .cardBack{
    background: black;
    background-image: url('avengers.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFAF3A;
    transform: rotateY( 180deg );
  }

  .cardBack div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: break-word;
    word-break: break-word;
}

.cardBack div h2 {
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    background-color: white;
    opacity: 90%;
    font-size: 30px;
    font-style: oblique;
}

.cardBack div p {
    margin-right: 10%;
    margin-left: 10%;
    color: black;
    background-color: white;
    opacity: 90%;
    font-size: 20px;
    font-style: oblique;
}

.cardBack:hover{
    cursor: pointer;
}

  .card:hover{
    transform: rotateY(180deg);
  }

.marvelLogo{
    width: 200px;
    height: auto;
}

.firstFind {
    width: 160.8px;
    height: 22px;
    font-family: 'Marvel';
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

div#oGSearch {
    display: flex;
    flex-direction: column;
    margin-left: 46%;
    margin-right: 43%;
}

body {
    display: flex;
    margin: 0px;
    min-height: 100%;
    max-width: 96%;
    flex-direction: column;
    justify-content: center;
    background-image: url('black.jpg');
    padding: 1%;
}

.infoRow div{
 display: flex;
}

.flipper {
    height: 461.1px;
    perspective: 600px;
}

div .flipper {
    width: 20%;
}

.flipper img {
    width: 100%;
}

#firstApperance .flipper {
    height: 461.111px;
    width: 300px;
}

input#firstName {
    width: 196px;
    height: 25px;
}

.firstFind {
    width: 200px;
    height: 22px;
}

div#displayName {
    background: #EC1D23;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 50px;
    color: white;
    font-family: 'Marvel';
}

#errorLog p{
    color: red;
}

input.findCharacter {
    width: 173px;
    background: #ED1E23;
    color: white;
    font-family: 'Marvel';
}

form#characterSearch {
    padding-bottom: 10px;
}

@font-face {
font-family: 'Marvel';
src: url('MarvelRegular.ttf')
}


