img{
    width: 300px;
    height: auto;
}

body{
    display: flex;
    flex-direction: column; 
}

section{
    width: 100%;
}

.nullSearch{
    width: 100%;

}

.basicInfo{
    display: flex;
    flex-direction: row;
}

#profile{
    display: flex;
    flex-direction: column;
}

#firstApperance{
    display: flex;
    flex-direction: column;
}